@font-face {
  font-family: "Old Newspaper";
  src: url(../fonts/oldnewspapertypes.ttf);
}
@font-face {
  font-family: "Averiaserif Regular";
  src: url(../fonts/averiaserif-regular.ttf);
}
@font-face {
  font-family: "DK Courant";
  src: url(../fonts/dk-courant.ttf);
}
