@font-face {
  font-family: "Old Newspaper";
  src: url(../fonts/oldnewspapertypes.ttf);
}
@font-face {
  font-family: "Averiaserif Regular";
  src: url(../fonts/averiaserif-regular.ttf);
}
@font-face {
  font-family: "DK Courant";
  src: url(../fonts/dk-courant.ttf);
}

@font-face {
  font-family: "hand_shop_typography_c30_deRg";
  src: url(../fonts/fontscafe_handshoptypography-c30_demo-webfont.woff2)
      format("woff2"),
    url(../fonts/fontscafe_handshoptypography-c30_demo-webfont.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}
