@import "vars";
@import "libs";
@import "fonts";

/*global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Old Newspaper", sans-serif;
  background-color: #e9d6ae;
  color: #544434;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 10px;
}

.paragraph {
  margin-bottom: 15px;
  text-align: center;
}

/*styles for header*/
.header {
  border-top: 2px solid #554535;
  border-bottom: 2px solid #554535;
  margin-top: 50px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #554535;
}

.header__top-title {
  width: 80%;
  font-family: "DK Courant";
  font-size: 54px;
  line-height: 5px;
}

.header__top-subtitle {
  width: 10%;
  font-size: 18px;
  margin-top: 25px;
  .header__top-span {
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  .header__top-info {
    font-size: 9px;
    letter-spacing: -0.75px;

    span {
      display: block;
      font-weight: 700;
    }
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Averiaserif Regular", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

/*main content styles*/
.main-content {
  width: 100%;

  display: grid;
  grid-template-areas:
    "editorial editorial meeting your-title"
    " extra   extra    meeting    your-title"
    "extra  extra   meeting  old-paper "
    " extra  extra    phone   old-paper"
    " welcome   welcome   phone   old-paper";
  grid-gap: 5px;
  margin-top: 25px;
}
.editorial {
  grid-area: editorial;
  // grid-column: 1/3;
  // grid-row: 1/4;
  img {
    width: 400px;
    height: 175px;
  }
}
.meeting {
  grid-area: meeting;
  // grid-column: 3/4;
  // grid-row: 1/7;
}
.your-title {
  grid-area: your-title;
  // grid-column: 4/4;
  // grid-row: 1/6;
  img {
    width: 325px;
    height: 375px;
  }
}
.extra {
  grid-area: extra;
  // grid-column: 1/3;
  // grid-row: 4/8;
  img {
    width: 285px;
    height: 500px;
  }
}

.welcome {
  grid-area: welcome;
  // grid-column: 1/3;
  // grid-row: 8/11;
}

.phone {
  grid-area: phone;
  // grid-column: 3/4;
  // grid-row: 7/11;
}
.old-paper {
  grid-area: old-paper;
  // grid-column: 4/4;
  // grid-row: 6/11;
}

/*editorial*/
.editorial {
  border-bottom: 2px solid #544434;
  margin-bottom: 25px;
}

.editorial__title,
.extra__title {
  font-family: "hand_shop_typography_c30_deRg";
  font-size: 78px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

.editorial__text {
  border-bottom: 5px solid #544434;
  padding-bottom: 15px;
  margin-bottom: 3px;
  .editorial__subtitle {
    font-family: "Averiaserif Regular", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
  }
  img {
    float: left;
    margin: 0 15px 15px 0;
  }
}

/*extra*/
.extra__text {
  text-align: center;
  width: 100%;
  img {
    float: right;
    margin: 0 0 15px 15px;
  }
}
.extra__title {
  font-size: 51px;
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
}

.extra__subtitle {
  display: block;
  position: relative;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 7px;
    right: 0;
    width: 30px;
    height: 30px;
  }
}

/*welcome*/
.welcome {
  display: flex;
  margin-top: 15px;
  img {
    width: 390px;
    height: 250px;
  }
}
.welcome__text {
  margin-left: 25px;
  text-align: justify;
  .welcome__text-title {
    text-transform: uppercase;
    border-top: 2px solid #544434;
    border-bottom: 2px solid #544434;
    text-align: center;
    font-size: 38px;
    padding: 5px 0;
    margin-bottom: 15px;
  }
}
/*meeting*/
.meeting {
  padding: 0 15px;
  p {
    text-align: justify;
  }
}

.meeting__title {
  text-transform: uppercase;
  font-size: 43px;
  text-align: center;
}

.meeting__subtitle {
  text-transform: uppercase;
  border-top: 2px solid #544434;
  border-bottom: 2px solid #544434;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  padding: 5px 0;
  margin: 15px 0;
}

.important__title {
  background-color: #544434;
  color: #e9d6ae;
  font-family: "hand_shop_typography_c30_deRg";
  font-size: 48px;
  text-align: center;
  padding: 15px 0;
  margin: 30px 0 20px;
  border-radius: 3px;
  text-transform: uppercase;
}
/*phone*/
.phone {
  text-align: center;
  &__title {
    font-family: "hand_shop_typography_c30_deRg";
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 41px;
    filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  }

  &__number {
    font-family: "Averiaserif Regular", sans-serif;
    font-size: 43px;
  }

  &__info {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  img {
    width: 308px;
    height: 356px;
  }
}
/*your title*/
.your-title {
  border-bottom: 2px solid #544434;
  padding-bottom: 3px;
  p {
    text-align: justify;
  }

  &__subtitle {
    text-transform: uppercase;
    border-top: 2px solid #544434;
    border-bottom: 2px solid #544434;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    padding: 5px 0;
    margin: 15px 0;
  }

  &__text {
    padding-bottom: 9px;
    border-bottom: 5px solid #544434;
  }
}
.your-title__title {
  font-family: "hand_shop_typography_c30_deRg";
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 20px 0 10px;
}

/*old paper*/
.old-paper {
  margin-top: 20px;
  &__title {
    font-family: "hand_shop_typography_c30_deRg";
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 57px;
    filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  }
  p {
    text-align: justify;
  }
}

.old-paper__subtitle {
  display: block;
  position: relative;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 7px;
    left: 0;
    width: 30px;
    height: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 9px;
    right: 0;
    width: 30px;
    height: 30px;
  }
}

/*modal and overlay*/
.blur {
  filter: blur(4px);
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: #54443475;

  .modal {
    width: 100%;
    display: flex;
    margin: auto;

    .images {
      position: relative;
      .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        width: 50px;
      }
    }

    button {
      flex: 1;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      font-size: 70px;
      &:hover {
        background: rgba(255, 255, 255, 0.253);
      }
    }
  }
}

.hidden {
  display: none !important;
}

@import "media";
@media screen and (max-width: 1340px) {
  .main-content {
    grid-template-areas:
      "editorial editorial meeting "
      " extra   extra    meeting    "
      "extra  extra   phone   "
      " extra  extra    phone   "
      " welcome   welcome   phone  "
      " old-paper old-paper old-paper "
      " your-title your-title your-title";
  }

  .your-title {
    display: flex;
    align-items: center;
    border-top: 2px solid #544434;
  }
}

@media screen and (max-width: 1000px) {
  .main-content {
    grid-template-areas:
      "editorial editorial "
      " extra   extra   "
      "extra  extra  "
      "  meeting   meeting    "
      " welcome     welcome  "
      " old-paper old-paper "
      " your-title your-title "
      " phone phone ";
  }

  .your-title {
    img {
      display: none;
    }
  }
}
